# Import Libraries

In [1]:
import pandas as pd

# Read Datasets

In [15]:
fuel08 = pd.read_csv('data_08_v3.csv')
fuel18 = pd.read_csv('data_18_v3.csv')

In [16]:
fuel08.head(1)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,SUV,7,15,20,17,4,no

In [17]:
fuel18.head(1)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,small SUV,3,20,28,23,5,No

# Find the datatypes

In [18]:
fuel08.dtypes

model                    object
displ                   float64
cyl                      object
trans                    object
drive                    object
fuel                     object
veh_class                object
air_pollution_score      object
city_mpg                 object
hwy_mpg                  object
cmb_mpg                  object
greenhouse_gas_score     object
smartway                 object
dtype: object

In [19]:
fuel18.dtypes

model                    object
displ                   float64
cyl                     float64
trans                    object
drive                    object
fuel                     object
veh_class                object
air_pollution_score       int64
city_mpg                 object
hwy_mpg                  object
cmb_mpg                  object
greenhouse_gas_score      int64
smartway                 object
dtype: object

# Finding the unique values in both data sets

## What is the difference between the two datasets for the `cyl` column?

In [20]:
fuel08['cyl'].unique().sum()

'(6 cyl)(4 cyl)(12 cyl)(8 cyl)(10 cyl)(16 cyl)(5 cyl)(2 cyl)'

In [22]:
fuel18['cyl'].unique()

array([ 6.,  4.,  5., 12., 16.,  8.,  3.])

## What is the difference between the two datasets for the `air_pollution_score` column?

In [25]:
fuel08['air_pollution_score'].unique()

array(['7', '6', '9.5', '9', '6/4'], dtype=object)

In [26]:
fuel08['air_pollution_score'].unique()

array([3, 1, 7, 5, 6], dtype=int64)

## What are the unique values for the `*_mpg` columns?

Refering to any column that ends with `_mpg`

In [39]:
fuel08['city_mpg'].unique()

array(['15', '17', '16', '18', '19', '20', '10', '11', '12', '13', '21',
       '22', '14', '23', '9', '8', '24', '34', '29', '25', '26', '40',
       '27', '28', '13/18', '35', '33', '48'], dtype=object)

In [40]:
fuel08['hwy_mpg'].unique()

array(['20', '22', '24', '26', '27', '28', '16', '18', '17', '19', '29',
       '25', '30', '23', '21', '31', '15', '14', '33', '32', '35', '36',
       '34', '45', '13', '19/25', '37'], dtype=object)

In [41]:
fuel08['cmb_mpg'].unique()

array(['17', '19', '21', '20', '22', '23', '12', '13', '15', '24', '25',
       '18', '16', '14', '26', '11', '10', '27', '32', '28', '29', '42',
       '30', '31', '15/21', '34', '46'], dtype=object)

In [42]:
fuel18['city_mpg'].unique()

array(['20', '19', '23', '21', '24', '17', '26', '22', '25', '27', '12',
       '9', '28/66', '27/70', '27/66', '16', '25/62', '18', '14', '15',
       '13', '29', '31', '30', '28', '14/18', '49', '12/18', '12/17',
       '12/16', '11/16', '43/113', '14/19', '13/18', '43/102', '43', '33',
       '32', '15/21', '14/21', '20/59', '10', '17/24', '17/23', '28/63',
       '37', '35', '40', '51', '44', '48', '34', '9/13', '26/70', '26/60',
       '26/63'], dtype=object)

In [43]:
fuel18['hwy_mpg'].unique()

array(['28', '27', '33', '32', '30', '29', '34', '24', '31', '35', '37',
       '25', '19', '14', '34/78', '31/75', '31/68', '29/68', '26', '22',
       '20', '23', '21', '15', '18', '40', '47', '52', '38', '45', '48',
       '39', '20/28', '36', '43', '16/24', '15/22', '17/23', '16/22',
       '42/99', '22/30', '20/27', '16', '17', '41/91', '41', '42',
       '21/28', '21/61', '24/32', '23/31', '17/22', '27/66', '53',
       '13/17', '12/17', '33/72', '28/58', '30/61'], dtype=object)

In [44]:
fuel18['cmb_mpg'].unique()

array(['23', '22', '27', '24', '28', '20', '29', '25', '31', '26', '21',
       '15', '11', '30/71', '29/72', '28/67', '19', '27/64', '16', '17',
       '30', '18', '32', '33', '37', '35', '16/22', '46', '14/20',
       '13/19', '14/19', '12/18', '13/18', '42/106', '17/23', '16/21',
       '13', '42/97', '42', '34', '36', '18/25', '20/60', '12', '20/27',
       '19/26', '27/65', '39', '14', '40', '52', '10/14', '10/15',
       '29/71', '26/59', '27/62'], dtype=object)

## What is the difference between the two datasets for the `greenhouse_gas_score` column?

In [45]:
fuel08['greenhouse_gas_score'].unique()

array(['4', '5', '6', '7', '0', '1', '3', '2', '8', '9', '10', '7/6'],
      dtype=object)

In [46]:
fuel18['greenhouse_gas_score'].unique()

array([ 5,  4,  6,  7,  2,  1, 10,  3,  9,  8], dtype=int64)