# Import Libraries

In [30]:
import pandas as pd

# Reading Data

In [31]:
df08 = pd.read_csv('data_08_v1.csv')
df18 = pd.read_csv('data_18_v1.csv')

# View Data

In [32]:
df08.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [33]:
df18.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,small SUV,3,20,28,23,5,No

# Renaming Columns

## Renaming 2008 dataset columns using a dictionary

In [35]:
df08.rename(columns={'Sales Area':'Cert Region'}, inplace=True)# or instead of columns= can use instead axis=1
df08.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

## Renaming 2008 dataset columns using a function

Instead of using a dictionary, funcitons can be renamed using a lambda function (including normal functions too i think). The goal here is to replace spaces with underscores and make sure all the letters are in lower case.

In [37]:
df08.rename(columns=lambda x: x.strip().lower().replace(" ","_"), inplace=True)
df08.head(1)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

## Renaming 2018 dataset columns

In [40]:
df18.rename(columns=lambda x: x.strip().lower().replace(" ","_"),inplace=True)
df18.head(1)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,small SUV,3,20,28,23,5,No

# Confirm 2018 Columns are the same as 2008 Columns

In [41]:
df18.columns == df08.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])

In a succinct way

In [43]:
(df18.columns==df08.columns).any()

True

# Saving Data sets

In [44]:
df08.to_csv('data_08_v2.csv',index=False)
df18.to_csv('data_18_v2.csv',index=False)