# What is concatentation?

When working with multiple datasets in pandas, it can take a lot of effort performing the same operations on the mutliple datasets. Merging the datasets will reduce a lot of effort needed, especially if the datasets are the same (similar columns and datatypes etc.). DataFrames in pandas can be merged vertically or horizontally. vertical merging mergres the content of the DataFrames based on the columns, where the data that has the same column names will be merged into a single column, it can be visualized as if the DataFrames are placed on top of each other. Horizontal merging puts the dataframes next to each other side by side, where the data is merged based on the row number. It's like extending the row based on the columns of the other DataFrame. More than 2 DataFrames can be merged at once.

# Import libraries

In [1]:
import pandas as pd
import numpy as np

# Load Datasets

In [2]:
df08 = pd.read_csv('clean_08.csv')
df18 = pd.read_csv('clean_18.csv')

# Creating Year Columns

To be able to differentiate between the data that is from 2008 from the data that is from 2018, a new column can be added that shows the year from where the data comes from which will help not mix the data up when the data is all in a single dataframe.

In [3]:
df08['year'] = "2008"
df08.head(1)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway,year
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,SUV,7.0,15,20,17,4,no,2008

In [4]:
df18['year']= "2018"
df18.head(1)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway,year
0,ACURA RDX,3.5,6,SemiAuto-6,2WD,Gasoline,small SUV,3.0,20,28,23,5,No,2018

# Combining the two DataFrame with `concat()`

Why not use `merge()` instead of `concat()`? `merge()` will merge data from both DataFrames based on some key (could the index in some cases), which removes data from other DataFrames, while `concat()` just appends the extra data from the DataFrame. They are intertwined a lot.

In [6]:
df = pd.concat([df08,df18])

In [7]:
df.head(1)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway,year
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,SUV,7.0,15,20,17,4,no,2008

In [8]:
df.tail(1)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway,year
831,VOLVO XC 90,2.0,4,SemiAuto-8,4WD,Electricity,standard SUV,7.0,63,61,62,10,Elite,2018

# Save Combined Dataset

In [9]:
df.to_csv('clean_08_18.csv',index=False)