# Importing Libraries

In [1]:
import pandas as pd

# Read data

In [2]:
df = pd.read_csv('product_view_data.csv')
df

,user_id,product_id,liked,view_duration,source,timestamp
0,3987,997021,True,1.048242,web,2017-09-23 00:18:29.056895
1,6300,865003,True,1.688173,web,2017-09-21 02:20:22.022096
2,6451,712951,False,NaN,mobile,2017-09-07 11:57:50.044683
3,7782,283235,True,0.194162,mobile,2017-09-17 03:48:20.019677
4,7782,283235,True,0.194162,mobile,2017-09-17 03:48:20.019677
5,5700,587019,False,0.493194,web,2017-09-07 00:25:07.019097
6,3400,505123,True,NaN,web,2017-09-07 13:53:21.008403
7,8403,459916,False,0.675041,mobile,2017-09-25 21:54:00.028323
8,8965,943363,False,NaN,web,2017-09-17 15:12:21.059489
9,9693,787546,True,0.101743,web,2017-09-26 12:34:46.012559
10,4107,811855,False,3.112086,web,2017-09-01 10:50:07.042593

# View data information

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   user_id        11 non-null     int64
 1   product_id     11 non-null     int64
 2   liked          11 non-null     bool
 3   view_duration  8 non-null      float64
 4   source         11 non-null     object
 5   timestamp      11 non-null     object
dtypes: bool(1), float64(1), int64(2), object(2)
memory usage: 583.0+ bytes

In [4]:
df.isna().any() #displays columns that contain nan values

user_id          False
product_id       False
liked            False
view_duration     True
source           False
timestamp        False
dtype: bool

# Fill empty view durations with the average duration

In [6]:
mean = df['view_duration'].mean()
#df['view_duration'].fillna(mean,inplace=True) #deprecated
df.fillna({'view_duration':mean},inplace=True)

df

,user_id,product_id,liked,view_duration,source,timestamp
0,3987,997021,True,1.048242,web,2017-09-23 00:18:29.056895
1,6300,865003,True,1.688173,web,2017-09-21 02:20:22.022096
2,6451,712951,False,0.938350,mobile,2017-09-07 11:57:50.044683
3,7782,283235,True,0.194162,mobile,2017-09-17 03:48:20.019677
4,7782,283235,True,0.194162,mobile,2017-09-17 03:48:20.019677
5,5700,587019,False,0.493194,web,2017-09-07 00:25:07.019097
6,3400,505123,True,0.938350,web,2017-09-07 13:53:21.008403
7,8403,459916,False,0.675041,mobile,2017-09-25 21:54:00.028323
8,8965,943363,False,0.938350,web,2017-09-17 15:12:21.059489
9,9693,787546,True,0.101743,web,2017-09-26 12:34:46.012559
10,4107,811855,False,3.112086,web,2017-09-01 10:50:07.042593

# Find Duplicates

In [9]:
df.duplicated()

0     False
1     False
2     False
3     False
4      True
5     False
6     False
7     False
8     False
9     False
10    False
dtype: bool

number of duplicates:

In [11]:
sum(df.duplicated())

1

# Remove Duplicates

In [12]:
df.drop_duplicates(inplace=True)

In [15]:
sum(df.duplicated())# should say 0

0

# Converting timestamp from a string to a datatime object

If after conversion this is saved back to a csv file, it will be re-read as a string upon opening the csv file. There are methods to automatically read the string as a datetime object that require passing in a parsing function (or option) to the read_csv() function.

In [18]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 0 to 10
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   user_id        10 non-null     int64
 1   product_id     10 non-null     int64
 2   liked          10 non-null     bool
 3   view_duration  10 non-null     float64
 4   source         10 non-null     object
 5   timestamp      10 non-null     datetime64[ns]
dtypes: bool(1), datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 490.0+ bytes