# Goals

To answer the following questions:

* Which store has the highest total sales for the final month of data?
* Which store makes the most sales on average?
* Which store sells the most during the week of March 13th, 2016?
* In what week does store C make its worst sales?
* Which store has the most sales in the latest 3-month period?od?

# Import libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# Load dataset

In [3]:
df = pd.read_csv('store_data.csv')
df.head(1)

         week  storeA  storeB  storeC  storeD  storeE
0  2014-05-04    2643    8257    3893    6231    1294

# Which store has the highest total sales for the final month of data?

In [12]:
df.tail(5)

           week  storeA  storeB  storeC  storeD  storeE
195  2018-01-28     282    6351    7759    5558    1028
196  2018-02-04    4853    6503    4187    5956    1458
197  2018-02-11    9202    3677    4540    6186     243
198  2018-02-18    3512    7511    4151    5596    3501
199  2018-02-25    7560    6904    3569    5045    2585

In [20]:
df_lastMonth = df.query(' week.str.contains("2018-02")')

df_lastMonth

           week  storeA  storeB  storeC  storeD  storeE
196  2018-02-04    4853    6503    4187    5956    1458
197  2018-02-11    9202    3677    4540    6186     243
198  2018-02-18    3512    7511    4151    5596    3501
199  2018-02-25    7560    6904    3569    5045    2585

In [28]:
df_lastMonth.sum()

week      2018-02-042018-02-112018-02-182018-02-25
storeA                                       25127
storeB                                       24595
storeC                                       16447
storeD                                       22783
storeE                                        7787
dtype: object

Answer is storeA

# Which store makes the most sales on average?

In [30]:
df.mean(numeric_only=True).sort_values(ascending=False)

storeB    6756.710
storeA    5865.480
storeD    5431.405
storeC    4942.105
storeE    2580.025
dtype: float64

Answer is: storeB

# Which store sells the most during the week of March 13th, 2016?

In [52]:
df.query(" week == '2016-03-13'")

          week  storeA  storeB  storeC  storeD  storeE
97  2016-03-13    2054    1390    5112    5513    2536

Answer is storeD

# In what week does store C make its worst sales?

In [54]:
df.query("storeC==storeC.min()")

         week  storeA  storeB  storeC  storeD  storeE
9  2014-07-06    8567    3228     927    3277     168

Answer is: July 6th, 2014

# Which store has the most sales in the latest 3-month period?

In [59]:
df_last3Month = df.query(' week.str.contains("2018-02") or week.str.contains("2018-01") or week.str.contains("2017-12") ')

df_last3Month.sum(numeric_only=True)

storeA    87591
storeB    79394
storeC    66538
storeD    75190
storeE    27334
dtype: int64

Answer is: storeA