# What are the different merging types?

There is the inner and outer joins:

!["innner outer joins"](inner-outer.png)

* Inner join only joins rows that are have common columns.
* Outer join joins everything together and merges rows that have common columns

There are also left and right joins:

!["Left right Joins"](left-right.png)

* Left join adds everything from the first DataFrame and everything in common with the other DataFrame
* Right join adds everything from the other Dataframe with everything in common with the first Dataframe

# Import libraries

In [9]:
import pandas as pd

# Load Datasets

In [17]:
df08 = pd.read_csv('clean_08.csv')
df18 = pd.read_csv('clean_18.csv')

# Changing the column names

The 2008 dataset's column names should be changed to include the first 10 characters of column name with "_2008" at the end.

In [18]:
df08.rename(columns=lambda x: x[:10]+"_2008",inplace=True)

In [19]:
df08.head(1)

,model_2008,displ_2008,cyl_2008,trans_2008,drive_2008,fuel_2008,veh_class_2008,air_pollut_2008,city_mpg_2008,hwy_mpg_2008,cmb_mpg_2008,greenhouse_2008,smartway_2008
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,SUV,7.0,15,20,17,4,no

# Merging the two DataFrames

In [27]:
merged = pd.merge(df08,df18,how='inner',left_on="model_2008", right_on="model")

In [28]:
merged.head(1)

,model_2008,displ_2008,cyl_2008,trans_2008,drive_2008,fuel_2008,veh_class_2008,air_pollut_2008,city_mpg_2008,hwy_mpg_2008,...,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7.0,17,22,...,SemiAuto-6,2WD,Gasoline,small SUV,3.0,20,28,23,5,No

In [30]:
merged.to_csv('combined_dataset.csv',index=False)