# What are measures of center?

When talking about measures of center, the subjects that are meant are:

* Mean: Is basically the average, Example: [1, 2, 3, 4, 5] has an average of 3 (15 divided by 5).

* Median: Is the center value of a set after sorting. If the number of valuesi s even then the midpoint is taken between the two center values.Example:[2, 1, 4, 5, 3] sorts to [1, 2, 3, 4, 5], 3 is the median. While [2, 1, 4, 5, 3, 6] sorts to [1, 2, 3, 4, 5, 6], 3.5 is the median

* Mode: Is the value with the highest frequency in a set: Example: 
[1, 2, 2, 3, 3, 3, 4, 4, 4, 4], 4 is the mode.

Measures of center help provide a summary of a dataset that is focused on its center. Measurements for center can provide a quick and easy way to know the basic characteristics of a dataset. They are also very helpful for calculatng other analytics seach as spread and outliers.

# Import libraries

In [2]:
import pandas as pd

# Load Dataset

In [3]:
df = pd.read_csv('census_income_data.csv')

# Using `mean()` on a dataframe

Using mean on `capital-gain` and `capital-loss` to answer: 

    "what was the average capital gained and lost in the dataset?"

In [5]:
df[["capital-gain","capital-loss"]].mean()

capital-gain    1077.648844
capital-loss      87.303830
dtype: float64

# Using `mean()` and `median()` on a group

## On the `workclass` group

This can be applied for a question like:

    "What is the average and median for all other values for each workclass?"

First, it's good to know what are the workclass types

In [8]:
df["workclass"].value_counts()

workclass
Private             22696
Self-emp-not-inc     2541
Local-gov            2093
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: count, dtype: int64

### Finding the mean

In [11]:
df.groupby('workclass').mean(numeric_only=True)

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
workclass,,,,,,
Federal-gov,42.590625,185221.243750,10.973958,833.232292,112.268750,41.379167
Local-gov,41.751075,188639.712852,11.042045,880.202580,109.854276,40.982800
Never-worked,20.571429,225989.571429,7.428571,0.000000,0.000000,28.428571
Private,36.797585,192764.114734,9.879714,889.217792,80.008724,40.267096
Self-emp-inc,46.017025,175981.344086,11.137097,4875.693548,155.138889,48.818100
Self-emp-not-inc,44.969697,175608.641480,10.226289,1886.061787,116.631641,44.421881
State-gov,39.436055,184136.613251,11.375963,701.699538,83.256549,39.031587
Without-pay,47.785714,174267.500000,9.071429,487.857143,0.000000,32.714286

### Finding the median

In [13]:
df.groupby('workclass').median(numeric_only=True)

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
workclass,,,,,,
Federal-gov,43.0,175771.0,10.0,0.0,0.0,40.0
Local-gov,41.0,179580.0,11.0,0.0,0.0,40.0
Never-worked,18.0,188535.0,7.0,0.0,0.0,35.0
Private,35.0,181091.0,10.0,0.0,0.0,40.0
Self-emp-inc,45.0,165667.0,10.0,0.0,0.0,50.0
Self-emp-not-inc,44.0,168109.0,10.0,0.0,0.0,40.0
State-gov,39.0,169402.5,10.0,0.0,0.0,40.0
Without-pay,57.0,171531.5,9.0,0.0,0.0,27.5

## On the occupation group

Answering the question:

    "What is the average and median for all other values for each occupation?"

In [18]:
df["occupation"].value_counts()

occupation
Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: count, dtype: int64

### Getting the mean

In [19]:
df.groupby('occupation').mean(numeric_only=True)

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
occupation,,,,,,
Adm-clerical,36.964456,192043.396286,10.113528,495.954907,60.794430,37.558355
Armed-Forces,30.222222,215425.888889,10.111111,0.000000,209.666667,40.666667
Craft-repair,39.031471,192132.599658,9.110759,649.512808,88.465235,42.304221
Exec-managerial,42.169208,184414.012543,11.449090,2262.772996,138.838416,44.987703
Farming-fishing,41.211268,170190.176056,8.608652,589.726358,63.075453,46.989940
Handlers-cleaners,32.165693,204391.006569,8.510219,257.572993,45.635766,37.947445
Machine-op-inspct,37.715285,195040.877622,8.487512,328.689311,61.706294,40.755744
Other-service,34.949621,188608.452200,8.779666,191.301669,38.250683,34.701669
Priv-house-serv,41.724832,201107.523490,7.362416,279.852349,21.449664,32.885906
Prof-specialty,40.517633,185296.613285,12.905072,2726.699517,136.139372,42.386715
Protective-serv,38.953775,202039.953775,10.184900,708.098613,78.334361,42.870570
Sales,37.353973,190885.892055,10.299726,1319.829315,98.300548,40.781096
Tech-support,37.022629,192098.301724,10.992457,673.552802,98.665948,39.432112
Transport-moving,40.197871,190366.355041,8.767063,490.323732,81.480902,44.656230

### Getting the median

In [20]:
df.groupby('occupation').median(numeric_only=True)

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
occupation,,,,,,
Adm-clerical,35.0,180340.5,10.0,0.0,0.0,40.0
Armed-Forces,29.0,191073.0,9.0,0.0,0.0,40.0
Craft-repair,38.0,180239.0,9.0,0.0,0.0,40.0
Exec-managerial,41.0,174215.0,12.0,0.0,0.0,40.0
Farming-fishing,39.0,157353.5,9.0,0.0,0.0,40.0
Handlers-cleaners,29.0,189249.0,9.0,0.0,0.0,40.0
Machine-op-inspct,36.0,183136.5,9.0,0.0,0.0,40.0
Other-service,32.0,176452.0,9.0,0.0,0.0,40.0
Priv-house-serv,40.0,193530.0,9.0,0.0,0.0,35.0
Prof-specialty,40.0,176052.5,13.0,0.0,0.0,40.0
Protective-serv,36.0,190350.0,10.0,0.0,0.0,40.0
Sales,35.0,180992.5,10.0,0.0,0.0,40.0
Tech-support,36.0,176761.0,11.0,0.0,0.0,40.0
Transport-moving,39.0,180401.0,9.0,0.0,0.0,40.0