# Import libraries

In [25]:
import pandas as pd

# Read datasets

In [26]:
df08 = pd.read_csv('data_08_v2.csv')
df18 = pd.read_csv('data_18_v2.csv')

In [27]:
df08.head()

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,17,22,19,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,17,22,19,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,midsize car,7,16,24,19,5,no

# View dimensions of the data

In [28]:
df08.shape, df18.shape

((2404, 14), (1611, 14))

# Filter the data by Certification region

The certificaion region should only be CA

In [29]:
df08 = df08.query('cert_region == "CA"')#Assigning to a new variable will raise an error: SettingWithCopyWarning
df18 = df18.query('cert_region == "CA"')

## Confirm the certificaion region is only CA

In [30]:
df08['cert_region'].unique()

array(['CA'], dtype=object)

In [31]:
df18['cert_region'].unique()

array(['CA'], dtype=object)

## To answer the quiz questions

In [32]:
df08.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1084 entries, 0 to 2400
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 1084 non-null   object
 1   displ                 1084 non-null   float64
 2   cyl                   1009 non-null   object
 3   trans                 1009 non-null   object
 4   drive                 1047 non-null   object
 5   fuel                  1084 non-null   object
 6   cert_region           1084 non-null   object
 7   veh_class             1084 non-null   object
 8   air_pollution_score   1084 non-null   object
 9   city_mpg              1009 non-null   object
 10  hwy_mpg               1009 non-null   object
 11  cmb_mpg               1009 non-null   object
 12  greenhouse_gas_score  1009 non-null   object
 13  smartway              1084 non-null   object
dtypes: float64(1), object(13)
memory usage: 127.0+ KB

In [33]:
df18.info()

<class 'pandas.core.frame.DataFrame'>
Index: 798 entries, 1 to 1609
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 798 non-null    object
 1   displ                 797 non-null    float64
 2   cyl                   797 non-null    float64
 3   trans                 798 non-null    object
 4   drive                 798 non-null    object
 5   fuel                  798 non-null    object
 6   cert_region           798 non-null    object
 7   veh_class             798 non-null    object
 8   air_pollution_score   798 non-null    int64
 9   city_mpg              798 non-null    object
 10  hwy_mpg               798 non-null    object
 11  cmb_mpg               798 non-null    object
 12  greenhouse_gas_score  798 non-null    int64
 13  smartway              798 non-null    object
dtypes: float64(2), int64(2), object(10)
memory usage: 93.5+ KB

## Drop the unecessary Certification region column

In [8]:
df08.drop(['cert_region'],axis=1,inplace=True)
df18.drop(['cert_region'],axis=1,inplace=True)

## Verify the column has been deleted

In [9]:
df08.head()

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,SUV,7,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,SUV,7,17,22,19,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,midsize car,7,16,24,19,5,no
6,ACURA TL,3.2,(6 cyl),Auto-S5,2WD,Gasoline,midsize car,7,18,26,21,6,yes
7,ACURA TL,3.5,(6 cyl),Auto-S5,2WD,Gasoline,midsize car,7,17,26,20,6,yes

In [10]:
df08.head()

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,SUV,7,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,SUV,7,17,22,19,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,midsize car,7,16,24,19,5,no
6,ACURA TL,3.2,(6 cyl),Auto-S5,2WD,Gasoline,midsize car,7,18,26,21,6,yes
7,ACURA TL,3.5,(6 cyl),Auto-S5,2WD,Gasoline,midsize car,7,17,26,20,6,yes

In [11]:
df08.shape,df08.shape

((1084, 13), (1084, 13))

# Drop rows with missing values

In [12]:
df08.dropna(inplace=True)
df18.dropna(inplace=True)

In [13]:
df08.isnull().sum().any()

False

In [14]:
df18.isnull().sum().any()

False

# Drop duplicate data

## View duplicate data

In [16]:
df08.duplicated().sum(), df18.duplicated().sum()

(23, 3)

## Dropping the duplicates

In [20]:
df08.drop_duplicates(inplace=True)
df18.drop_duplicates(inplace=True)

## Confirm duplicates has been dropped

In [21]:
df08.duplicated().sum(),df18.duplicated().sum()

(0, 0)

# Save modified data sets

In [23]:
df08.to_csv('data_08_v3.csv')
df18.to_csv('data_18_v3.csv')